<div class="main" style="">
  <div class="heading" style="">
    <h1 class="sectionHead" style="">Aria</h1>
    <div style="padding-right: 20px">
      <span class="range" style="">Range: </span>
      <mat-form-field color="accent" class="dropDown" appearance="">
        <mat-label style="font-weight: bold; color: black">1 Day</mat-label>
        <mat-select matInput>
          <mat-option> 2 Days </mat-option>
          <mat-option> 3 Days </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="container-fluid py-4">
    <div class="row" style="margin-left: -30px">
      <ng-container *ngFor="let card of entriesData; let i = index">
        <app-hero-section
          *ngIf="title(card)"
          [cardData]="card"
          class="col-xl-3 col-sm-6 mb-xl-0 mb-4"
        ></app-hero-section>
        <app-event-card
          *ngIf="forEvent(card)"
          [cardData]="card"
          class="col-xl-3 col-sm-6 mb-xl-0 mb-4"
        ></app-event-card>
        <app-entity
          [cardData]="card"
          *ngIf="forEntity(card)"
          class="col-xl-3 col-sm-6 mb-xl-0 mb-4"
        ></app-entity>
      </ng-container>

      <!-- <app-hero-section class="col-xl-3 col-sm-6 mb-xl-0 mb-4" ></app-hero-section> -->
    </div>
  </div>
</div>
