<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" (click)="getPage('prev')" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item">
      <a (click)="submit(1)" class="page-link">1</a>
    </li>
    <li class="page-item">
      <a (click)="submit(2)" class="page-link">2</a>
    </li>
    <li class="page-item">
      <a (click)="submit(3)" class="page-link">3</a>
    </li>
    <li class="page-item">
      <a (click)="submit(4)" class="page-link">4</a>
    </li>
    <li class="page-item">
      <a (click)="submit(5)" class="page-link">5</a>
    </li>
    <li class="page-item">
      <a (click)="submit(6)" class="page-link">6</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="getPage('next')" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
