@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

html,
body {
  font-family: "Helvetica";
}
/* * {
  font-family: "Helvetica ";
}
* .h1 {
  font-family: "Montserrat ";
} */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #d4d4d4;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #a3a3a3;

  border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #888;
}
